<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
	src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<link type=text/css rel=stylesheet
	href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<!-- widget div which includes sign in button -->
<!-- Include the sign in page widget with the matching 'gitkitWidgetDiv' id -->
<script type="text/javascript"
	src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>

</head>
<body>
	<div id="navbar"></div>
	<p>WELCOME_MESSAGE</p>
	
	<script type=text/javascript>
			window.google.identitytoolkit.signInButton('#navbar', // accepts any CSS selector
			{
				widgetUrl : "http://localhost:4567/gitkit",
				signOutUrl : "http://localhost:4567/",
			});
		</script>
</body>
</html>

